<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <div class="info">
        <h2>Our Purpose</h2>
        <p>We’re in relentless pursuit of breakthroughs that change patients’ lives. We innovate every day to make the world a healthier place. It was Charles Pfizer’s vision at the beginning and it holds true today.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <div class="info">
        <h2>Our Responsibility</h2>
        <p>Our unique resources allow us to do more for people. Using our global presence and scale, we’re able to make a difference in local communities and the world around us.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <div class="info">
        <h2>Our Purpose</h2>
        <p>We’re in relentless pursuit of breakthroughs that change patients’ lives. We innovate every day to make the world a healthier place. It was Charles Pfizer’s vision at the beginning and it holds true today.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="buttonForSwap" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="buttonForSwap" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container newest-drugs">
  <div class="row"> 


    <section class="testimonials">
      <div class="container">
        <h2>Our Crew:</h2>
        <div class="row">
            <% if(typeof crew !== 'undefined' && crew.length > 0) { %>
              <% crew.forEach(function(crew, index){ %>
                <div class="col-md-4 text-center">
                  <a href="/about/<%= crew._id %>">
                    <div class="profile">
                      <img src="/images/<%= crew.image %>" class="person" alt="person2" loading="lazy">
                      <h3><%= crew.name %></h3>
                      <h5><%= crew.position %></h5>
                      <blockquote><%= crew.brief %><blockquote>
                    </div>
                  </a>
                </div>
              <% }) %>
            <% } %>
              <!-- <img src="/images/person3.jpg" class="person" alt="person1" loading="lazy">
              <h3>Olivier Dirat</h3>
              <h5>Web Developer</h5>
              <blockquote>Associate Research Fellow and Group Leader, Chemical Development Active Pharmaceutical Ingredients.<blockquote>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="profile">
              <img src="/images/person2.jpg" class="person" alt="person2" loading="lazy">
              <h3>Olivier Dirat</h3>
              <h5>Web Developer</h5>
              <blockquote>Associate Research Fellow and Group Leader, Chemical Development Active Pharmaceutical Ingredients.<blockquote>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="profile">
              <img src="/images/person3.jpg" class="person" alt="person3" loading="lazy">
              <h3>Olivier Dirat</h3>
              <h5>Web Developer</h5>
              <blockquote>Associate Research Fellow and Group Leader, Chemical Development Active Pharmaceutical Ingredients.<blockquote>
            </div>
          </div> -->
    </section>
  </div>
</div>

<%- contentFor('head') %>
<%- include("../partials/head.ejs") %>

<%- contentFor('header') %>
<%- include('../partials/header.ejs') %>

<%- contentFor('footer') %>
<%- include("../partials/footer.ejs") %>

<%- contentFor('globalscript') %>
<%- include("../partials/globalscript.ejs") %>