<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="text-decoration: underline;">
      <h2 style="margin-top: 20px;">You are already logged in.</h2>
    </div>
  </div>
</div>

<%- contentFor('head') %>
<%- include("../partials/head.ejs") %>

<%- contentFor('header') %>
<%- include('../partials/header.ejs') %>

<%- contentFor('footer') %>
<%- include("../partials/footer.ejs") %>

<%- contentFor('globalscript') %>
<%- include("../partials/globalscript.ejs") %>
