<h1>signed Out</h1>

<%- contentFor('head') %>
<%- include("../partials/head.ejs") %>

<%- contentFor('header') %>
<%- include('../partials/header.ejs') %>

<%- contentFor('footer') %>
<%- include("../partials/footer.ejs") %>

<%- contentFor('globalscript') %>
<%- include("../partials/globalscript.ejs") %>
