<!DOCTYPE html>
<html lang="en">
  <head>
    <%- defineContent('head') %>
  </head>
  <body>
    <%- defineContent('header') %>
    <main>
      <%- body %>
    </main>
    <%- defineContent('footer') %>
    <%- defineContent('globalscript') %>
    <%- defineContent('script') %>
  </body>
</html>
